{% extends 'base2.html' %}

{% block main %}
    <main class="col-md-12">
        <h1 class="page-title">联系博主</h1>
        <article class="post">
            <div class="entry-content clearfix">
                <form action="#" method="post" class="contact-form">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-3">
                            <label for="qq">博主QQ：1172901266</label><br><br>
                            <label for="qq">博主email：rider8970@163.com</label><br><br>
                            <label for="qq">博主github：ggStuddUp</label><br><br>
                        </div>
                    </div>	<!-- row -->
                </form>
            </div>
        </article>
    </main>
{% endblock main %}